@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	@apply font-inter text-zinc-900;
}

input,
textarea,
select {
	@apply w-full bg-transparent font-inter font-normal text-sm border-none outline-none text-zinc-900;
}

input[type='date'] {
	text-transform: uppercase;
}

input[type='date']::-webkit-calendar-picker-indicator {
	background: url('/icons/calendar.svg') no-repeat;
	background-size: cover;
	color: black;
	width: 20px;
	height: 20px;
}

.toggle .thumb {
	top: 50%;
	left: 50%;
	transform: translate(-100%, -50%);
}

.toggle.active .track {
	@apply bg-indigo-600;
}

.toggle.active .thumb {
	transform: translate(0%, -50%);
}

.btn {
	@apply rounded-md px-4 py-2;
}

.btn-primary {
	@apply bg-indigo-600 text-white btn;
}

.btn-secondary {
	@apply bg-zinc-100 btn;
}

.divide-list span {
	margin-left: 16px;
	position: relative;
}

.divide-list span::before {
	margin-left: -9px;
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 4px;
	height: 4px;
	background-color: rgb(113 113 122);
	border-radius: 50%;
}

.divide-list span:first-child {
	margin: 0;
	content: none;
}

.divide-list span:first-child:before {
	content: none;
}
